@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Open+Sans&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#seuEmail {
    padding: 5px;
    font-size: 13px;
    color: red;
}
